# Copyright (c) 2012 Shane Quigley
# 
# This software is MIT licensed see link for details
# http://www.opensource.org/licenses/MIT

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=synchronise;stopsynchronise;
X-KDE-Submenu=Ubuntu One
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel

[Desktop Action synchronise]
Name=Synchronize This Folder
Name[en]=Synchronize This Folder
Name[de]=Diesen Ordner Synchronisieren
Name[ga]=Sioncrónaigh Seo Fillteán
Name[hi]=यह  फ़ोल्डर सिंक्रनाइज़ करें
Name[fi]=Synkronisoi tämä kansio
Name[es]=Sincronizar esta carpeta
Name[la]=Sinhronizēt šo mapi
Name[nn]=Synkroniser denne mappen
Name[bg]=Синхронизирай тази папка
Name[nl]=Synchroniseer deze map
Name[ro]=Sincronizează Acest Dosar
Name[el]=Συγχρονισμός αυτού του φακέλου
Name[da]=Synkronisér denne mappe
Name[fr]=Synchroniser ce dossier
Name[pt]=Sincronizar pasta
Name[ca]=Sincronitza Aquesta Carpeta
Name[sv]=Synkronisera denna mapp
Name[ar]=تزامن هذا المجلد
Name[pl]=Synchronizuj ten folder
Name[hr]=Sinkroniziraj ovu mapu
Exec=u1sdtool --create-folder="%f"
#Icon=edit-copy

[Desktop Action stopsynchronise]
Name=Stop Synchronizing This Folder
Name[en]=Stop Synchronizing This Folder
Name[de]=Diesen Ordner nicht mehr Synchronisieren
Name[ga]=Bain as Ubuntu Amháin
Name[hi]=इस फ़ोल्डर सिंक्रनाइज़ करना बंद करो
Name[fi]=Lopeta kansion synkronisointi
Name[es]=Detener sincronización de esta carpeta
Name[la]=Pārstāt sinhronizēt šo mapi
Name[nn]=Stopp synkronisering av denne mappen
Name[bg]=Спри синхронизирането на тази папка
Name[nl]=Stop met deze map te synchroniseren
Name[ro]=Opreşte Sincronizarea Acestui Dosar
Name[el]=Παύση συγχρονισμού αυτού του φακέλου
Name[da]=Stop Synkronisering Af Denne Mappe
Name[fr]=Arrêter la synchronisation de ce dossier
Name[pt]=Parar sincronização da pasta
Name[ca]=Deixa de Sincronitzar Aquesta Carpeta
Name[sv]=Sluta synkronisera denna mapp
Name[ar]=توقيف تزامن هذا المجلد
Name[pl]=zatrzymaj synchronizację tego folderu
Name[hr]=Zaustavi sinkroniziranje ove mape
Exec=~/.kde/share/kde4/services/ServiceMenus/UbuntuOne/ubuntuone.rb unsync_folder %F
#Icon=go-jump
